<header>
  <nav>
      <h1>Recipe App</h1>
      <div class="form" action="">
          <input type="text" placeholder="Search for recipes ..."  class="searchBox" [(ngModel)] = "search" (input)="submitBtn()">
          <!-- <button type="submit" class="searchBtn">Search</button> -->
           <button class="searchBtn" (click)="submitBtn()">Search</button>
      </div>
  </nav>
</header>
<main>
  <section>
      <div class="recipe-container" *ngIf="isView">
        


          <div class="recipe"  *ngFor="let obj of dataList;">
        <img [src]="obj.strMealThumb" alt="">
            <h3>{{obj.strMeal}}</h3>
            <p><span>American</span> Dish</p>
            <p>Belongs to <span>{{obj.strCategory
            }}</span> Category</p>
    
            <button (click)=showRecipe(obj)>View Recipes</button>
          </div>
      </div>



      <div class="recipe-details" [ngClass]="{'v':!isView, 'nv':isView}" >
          <button type="button" class="recipe-close-btn" (click)="hideRecipe()">
              <i class="material-icons">&#xe5c9;</i>
          </button>
          <div class="recipe-details-content">

            <div class="title">
              {{title}}
            </div>

            <div >
            <h4 class="ingredients-title">Ingredents :</h4>  
              <ul class="Ingredents">
                <li *ngFor="let Ine of Ingredents">{{Ine}}</li>
              </ul>
            </div>

            <div>


            </div>
            
         <div>
          <h3 class=".instructions-title">Instructions:</h3>
          {{description}}
         </div>
          </div>
      </div>
  </section>
</main>

